- if notice.present?
  %p.alert.alert-success#notice= notice

%h4= link_to @idea.name, edit_idea_path(@idea)

%p= @idea.description

.btn.btn-default= link_to 'New Idea', new_idea_path |
.btn.btn-default= link_to 'Back', ideas_path
