%nav.navbar.navbar-default
  .container-fluid
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', 'aria-expanded' => false, :data => {'target' => '#bs-example-navbar-collapse-1', 'toggle' => 'collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("icons/logo.png", alt: "brand", class: "navbar-brand"), "https://github.com/RianaFerreira"

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li.active
          = link_to 'ideas', '/ideas'
          %span.sr-only(current)

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %strong.text-muted
            Signed in as
            = current_user.email |
            = link_to "Sign out", sign_out_path
        - else
          = render partial: "sessions/sign_in" |
          = link_to "Sign up", sign_up_path

        %form.navbar-form.navbar-left{"role" => "search"}
          .form-group
            %input.form-control{"type" => "text", "placeholder" => "Search"}
          %button.btn.btn-default{'type' => 'submit'} Submit
